body {
    font-family: monospace;
    background-color: #e6eef9;
    color: #7288a2;
}

h2, h3 {
    text-decoration: underline;
}

a {
    color: #03b5d2;
}

ul {
    list-style-image: url('listarrow.png');
}

.directory p {
    margin-bottom: 0;
    text-decoration: underline;
}

button {
    background-color: #7288a2;
    border-radius: 2px;
    border: 1px solid black;
    color: white;
}

input[type=submit] {
    background-color: #7288a2;
    border-radius: 2px;
    border: 1px solid black;
    color: white;
}

.tabButton {
    min-width: 100px;
    border: 1px, solid, black;
    color: white;
    display: inline-block;
    height: 100%;
    text-align: center;
    align-content: center;
}

.tabButton:hover {
    background-color: #e6eef9;
    cursor: pointer;
    color: #7288a2;
}

.appbar {
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: #7288a2;
    margin: 0px;
    position: absolute;
    display: inline-block;
}

.appbar > * {
    top: 50%;
    vertical-align: middle;
}

.appbar > form {
    display: inline;
}

.appContent {
    margin-top: 50px;
    margin-left: 25px;
}

.dropdown {
    position: absolute;
    background-color: #7288a2;
    border-radius: 10px;
    left: 325px;
    top:50px;
    width: auto;
}

.dropdownButton {
    min-width: 100px;
    border-bottom: 1px, solid, black;
    color: white;
    height: 100%;
    text-align: center;
    align-content: center;
}

.dropdownButton:hover {
    background-color: #e6eef9;
    cursor: pointer;
    color: #7288a2;
}